<!-- <ion-header>
  <app-header-sub title="ProfileT">
    <ion-back-button defaulthref="" text=""></ion-back-button>
  </app-header-sub>
</ion-header> -->

<!-- BackButton had a issiue so i commented shared app-header-sub for now. Needs more test. (Titles changes slow when back) -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaulthref="" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>ProfileT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
