<ion-tabs #mainTabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon ariaLabel="Home" name="home"></ion-icon>
      <ion-label aria-hidden="true">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon ariaLabel="Settings" name="settings"></ion-icon>
      <ion-label aria-hidden="true">Settings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon ariaLabel="About" name="information-circle"></ion-icon>
      <ion-label aria-hidden="true">About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
