<ion-tabs #mainTabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon ariaLabel="{{ 'HOME' | translate }}" name="home"></ion-icon>
      <ion-label>{{ 'HOME' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon ariaLabel="{{ 'SETTINGS' | translate }}" name="settings"></ion-icon>
      <ion-label>{{ 'SETTINGS' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon ariaLabel="{{ 'ABOUT' | translate }}" name="information-circle"></ion-icon>
      <ion-label>{{ 'ABOUT' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
